[Unit]
Description=Korobka python application service
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
#ExecStart=/usr/bin/python3 /home/<username>/test.py

[Install]
WantedBy=multi-user.target