[Unit]
Description=Korobka python application service
After=multi-user.target

[Service]
User=root
Type=simple
Restart=always
ExecStart=/root/wk/py310/bin/python /root/wk/korobka_app/main.py

[Install]
WantedBy=multi-user.target